
/* GENERAL STYLES */
:root {
    --body-bg: #ffffff;
    --body-text: #0f0f0f;
    --header-bg: #f5ecdc;
    --header-text: #0f0f0f;
    --footer-bg: #1f1f1f;
    --footer-text: #ffffff;
    --game-board-text: #a0a0a0;
    --highlight: #0000a0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-text);
    box-sizing: border-box;
}

body > * {
    display: flex;
    justify-content: center;
}

body * {
    box-sizing: border-box;
}

h1, h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    width: 100%;
    border: 1px solid black;
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* use for hiding from screen whilst keeping accessible to screen readers. 
Code taken from https://gomakethings.com/revisting-aria-label-versus-a-visually-hidden-class/ */
.visually-hidden {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* remove from document flow - hidden from both screen readers and visual users */
.hidden {
    display: none;
}

/* Header */
header {
    background-color: var(--header-bg);
}

#top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#instructions-logo button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#game-settings {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 1rem;
}

#game-settings select,
#game-settings button {
    padding: 0.2rem 0.8rem;
    width: 120px;
}

#game-settings button {
    font-size: 1.1rem;
}

#game-board {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 95%;
    /* max-width ensures the number of remaining swaps is visible underneath */
    max-width: 55vh;
    aspect-ratio: 1 / 1;
    background-color: rgb(231, 216, 198);
    font-size: 1.5rem;
    color: var(--game-board-text);
    text-align: center;
}

#swaps-info {
    padding: 1.5rem 0;
    font-size: 1.3rem;
}

#swaps-remaining {
    font-weight: bold;
}

#game-end-info {
    padding: 2rem 1.5rem;
}

#game-end-info > div {
    display: flex;
}

#game-end-info>div.hidden {
    display: none;
}

#game-end-info i {
    font-size: 3rem;
}

#game-end-info p {
    padding: 0 1rem;
    margin: 0;
}

.game-end-title {
    font-size: 2rem;
}

.game-end-details {
    font-size: 1rem;
}

#definitions {
    padding: 2rem 1rem;
    min-width: 60%;
}

#definitions.hidden {
    display: none;
}

.definition-entry {
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--body-text);
}

.definition-entry dd {
    margin-inline-start: 1.5rem;
}

.definition-word {
    font-size: 1.2rem;
    font-weight: bold;
}

.partOfSpeech {
    font-style: italic;
    font-weight: bold;
    margin-right: 0.2rem;
}

.btn-audio {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1.1rem;
}

.btn-audio:hover {
    color: var(--highlight);
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
}

footer i {
    color: #f0f0f0
}

/* MEDIA QUERIES */

/* limit container size */
@media screen and (min-width: 800px) {
    .container {
        width: 800px;
    }
}

/* fallback dimensions for game board */
@supports not (aspect-ratio: 1 / 1) {
    @media screen and (min-width: 300px) {
        #game-board {
            width: 300px;
            height: 300px;
        }
    }

    @media screen and (min-width: 400px) {
        #game-board {
            width: 400px;
            height: 400px;
        }
    }

    @media screen and (min-width: 500px) {
        #game-board {
            width: 500px;
            height: 500px;
        }
    }
}
