@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* GENERAL STYLES */
:root {
    --select-bg: #e5e3de;
    --select-text: #2d2d2d;
    --body-bg: #eeeeee;
    --body-text: #2d2d2d;
    /* --header-bg: #e6e6e6; */
    --header-bg: #eeeeee;
    --header-text: #2d2d2d;
    --footer-bg: #1f1f1f;
    --footer-text: #ffffff;
    --game-board-text: #a0a0a0;
    --grid-cell-grey: #c8c8c8;
    --grid-cell-green: #7adb65;
    --grid-cell-yellow: #eeda43;
    --grid-text: #3f3f3f;
    --win-green: green;
    --lose-red: #a02020;
    --highlight: #1e5487;
    --modal-overlay: rgba(0, 0, 0, 0.5);
    --modal-header-bg: #d0d0d0;
    --modal-body-bg: #ffffff;
    --modal-footer-bg: #1f1f1f;
    --link-text: #6aa9e5;
}

.dark-mode {
    --select-bg: #3f3f3f;
    --select-text: #dbdbdb;
    --body-bg: #151515;
    --body-text: #dbdbdb;
    /* --header-bg: #1f1f1f; */
    --header-bg: #151515;
    --header-text: #0f0f0f;
    --footer-bg: #3f3f3f;
    --footer-text: #ffffff;
    --game-board-text: #a0a0a0;
    --grid-cell-grey: #3a3a3c;
    --grid-cell-green: #528d4d;
    --grid-cell-yellow: #b59e3a;
    --grid-text: #d5d5d5;
    --win-green: rgb(3, 188, 3);
    --lose-red: #c12525;
    --highlight: #6aa9e5;
    --modal-overlay: rgba(0, 0, 0, 0.5);
    --modal-header-bg: #d0d0d0;
    --modal-body-bg: #ffffff;
    --modal-footer-bg: #1f1f1f;
    --link-text: #6aa9e5;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-text);
    box-sizing: border-box;
    /* FONTS */
    font-family: "Nunito", serif;
    font-weight: 600;
}

body>* {
    display: flex;
    justify-content: center;
}

body * {
    box-sizing: border-box;
}

h1,
h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 900;
}

.container {
    width: 100%;
    /* border: 1px solid black; */
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* use for hiding from screen whilst keeping accessible to screen readers. 
Code taken from https://gomakethings.com/revisting-aria-label-versus-a-visually-hidden-class/ */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* remove from document flow - hidden from both screen readers and visual users */
.hidden {
    display: none;
}

/* Header */
header {
    background-color: var(--header-bg);
}

#top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#game-logo {
    display: flex;
    align-items: center;
}

#game-logo img {
    width: 150px;
}

#btn-show-instructions {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: var(--highlight)
}

/* Toggle switch for dark mode (adapted from https://www.w3schools.com/HOWTO/howto_css_switch.asp */

#dark-mode {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--highlight);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--grid-cell-green);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--grid-cell-green);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#game-settings {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 1rem;
}

#game-settings select {
    padding: 0.2rem 0.8rem;
    width: 120px;
    background-color: var(--select-bg);
    color: var(--select-text);
}

#game-settings button {
    padding: 0.2rem 0.8rem;
    width: 120px;
    background-color: var(--highlight);
    /* background-color: var(--select-bg); */
    color: var(--select-bg);
    font-size: 1.1rem;
}

#game-board {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 95%;
    /* max-width ensures the number of remaining swaps is visible underneath */
    max-width: 55vh;
    aspect-ratio: 1 / 1;
    /* background-color: rgb(231, 216, 198); */
    font-size: 1.5rem;
    color: var(--game-board-text);
    text-align: center;
}

.grid-cell {
    position: absolute;
    padding: 5px;
    touch-action: none;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grid-text);
    background-color: var(--grid-cell-grey);
    /* border: 1px #a0a0a0 solid; */
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    text-transform: uppercase;
}

.grid-cell.green {
    background-color: var(--grid-cell-green);
}

.grid-cell.yellow {
    background-color: var(--grid-cell-yellow)
}

.dragging {
    opacity: 0.5;
    z-index: 100;
}

#swaps-info {
    padding: 1.5rem 0;
    font-size: 1.3rem;
}

#swaps-remaining {
    font-weight: bold;
}

#game-end-info {
    padding: 2rem 1.5rem;
}

#game-end-info>div {
    display: flex;
}

#game-end-info>div.hidden {
    display: none;
}

#game-end-info i {
    font-size: 3rem;
}

#game-end-info > #win i {
    color: var(--win-green);
}

#game-end-info > #lose i {
    color: var(--lose-red);
}

#game-end-info p {
    padding: 0 1rem;
    margin: 0;
}

.game-end-title {
    font-size: 2rem;
    font-weight: 800;
}

.game-end-details {
    font-size: 1rem;
    color: var(--highlight);
}

#definitions {
    padding: 2rem 1rem;
    min-width: 60%;
}

#definitions.hidden {
    display: none;
}

.definition-entry {
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--body-text);
}

.definition-entry dd {
    margin-inline-start: 1.5rem;
}

.definition-word {
    font-size: 1.2rem;
    font-weight: bold;
}

.partOfSpeech {
    font-style: italic;
    font-weight: bold;
    margin-right: 0.2rem;
}

.btn-audio {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1.1rem;
    color: var(--highlight);
}

.btn-audio:hover {
    color: var(--link-text);
}

/* MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.hidden {
    display: none;
}

.modal-dialogue-box {
    position: relative;
    width: 95%;
    background-color: var(--modal-main-bg)
}

.modal-dialogue-box.modal-wide {
    max-width: 700px;
}

.modal-dialogue-box.modal-narrow {
    max-width: 480px;
}

.modal-header {
    position: sticky;
    top: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-header-bg);
    z-index: 2;
}

.modal-header h2 {
    margin: 0 3rem 0 1rem
}

.btn-close-modal {
    font-size: 2rem;
    color: var(--body-text);
    position: absolute;
    right: 0.8rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.btn-close-modal:hover {
    color: var(--highlight);
}

.modal-body {
    background-color: var(--modal-body-bg);
    max-height: 77vh;
    overflow-y: auto;
}

.modal-container {
    padding: 0.1rem 2rem;
}

.modal-container>section {
    margin-top: 1.5rem;
}

.modal-footer {
    background-color: var(--modal-footer-bg);
    color: #f0f0f0;
    margin-top: 1.5rem;
}

.modal-footer a {
    color: var(--link-text);
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
}

footer a {
    color: var(--link-text);
}

/* MEDIA QUERIES */

/* limit container size */
@media screen and (min-width: 800px) {
    .container {
        width: 800px;
    }
}

/* fallback dimensions for game board */
@supports not (aspect-ratio: 1 / 1) {
    @media screen and (min-width: 300px) {
        #game-board {
            width: 300px;
            height: 300px;
        }
    }

    @media screen and (min-width: 400px) {
        #game-board {
            width: 400px;
            height: 400px;
        }
    }

    @media screen and (min-width: 500px) {
        #game-board {
            width: 500px;
            height: 500px;
        }
    }
}