
/* GENERAL STYLES */
:root {
    --body-bg: #ffffff;
    --body-text: #0f0f0f;
    --header-bg: #f5ecdc;
    --header-text: #0f0f0f;
    --footer-bg: #1f1f1f;
    --footer-text: #ffffff;
    --game-board-text: #a0a0a0;
    --highlight: #0000a0;
    --modal-overlay: rgba(0, 0, 0, 0.5);
    --modal-header-bg: #d0d0d0;
    --modal-body-bg: #ffffff;
    --modal-footer-bg: #1f1f1f;
    --link-text: #6aa9e5;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-text);
    box-sizing: border-box;
}

body > * {
    display: flex;
    justify-content: center;
}

body * {
    box-sizing: border-box;
}

h1, h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    width: 100%;
    border: 1px solid black;
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* use for hiding from screen whilst keeping accessible to screen readers. 
Code taken from https://gomakethings.com/revisting-aria-label-versus-a-visually-hidden-class/ */
.visually-hidden {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* remove from document flow - hidden from both screen readers and visual users */
.hidden {
    display: none;
}

/* Header */
header {
    background-color: var(--header-bg);
}

#top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#instructions-logo button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#game-settings {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 1rem;
}

#game-settings select,
#game-settings button {
    padding: 0.2rem 0.8rem;
    width: 120px;
}

#game-settings button {
    font-size: 1.1rem;
}

#game-board {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 95%;
    /* max-width ensures the number of remaining swaps is visible underneath */
    max-width: 55vh;
    aspect-ratio: 1 / 1;
    background-color: rgb(231, 216, 198);
    font-size: 1.5rem;
    color: var(--game-board-text);
    text-align: center;
}

.box {
    position: absolute;
    padding: 5px;
    touch-action: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f1f1f;
    background-color: lightgrey;
    border: 1px #a0a0a0 solid;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5),
        inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}

.box.green {
    background-color: green;
}

.box.yellow {
    background-color: yellow;
}

#swaps-info {
    padding: 1.5rem 0;
    font-size: 1.3rem;
}

#swaps-remaining {
    font-weight: bold;
}

#game-end-info {
    padding: 2rem 1.5rem;
}

#game-end-info > div {
    display: flex;
}

#game-end-info>div.hidden {
    display: none;
}

#game-end-info i {
    font-size: 3rem;
}

#game-end-info p {
    padding: 0 1rem;
    margin: 0;
}

.game-end-title {
    font-size: 2rem;
}

.game-end-details {
    font-size: 1rem;
}

#definitions {
    padding: 2rem 1rem;
    min-width: 60%;
}

#definitions.hidden {
    display: none;
}

.definition-entry {
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--body-text);
}

.definition-entry dd {
    margin-inline-start: 1.5rem;
}

.definition-word {
    font-size: 1.2rem;
    font-weight: bold;
}

.partOfSpeech {
    font-style: italic;
    font-weight: bold;
    margin-right: 0.2rem;
}

.btn-audio {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1.1rem;
}

.btn-audio:hover {
    color: var(--highlight);
}

/* MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.hidden {
    display: none;
}

.modal-dialogue-box {
    position: relative;
    width: 95%;
    background-color: var(--modal-main-bg)
}

.modal-dialogue-box.modal-wide {
    max-width: 700px;
}

.modal-dialogue-box.modal-narrow {
    max-width: 480px;
}

.modal-header {
    position: sticky;
    top: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-header-bg);
    z-index: 2;
}

.modal-header h2 {
    margin: 0 3rem 0 1rem
}

.btn-close-modal {
    font-size: 2rem;
    color: var(--body-text);
    position: absolute;
    right: 0.8rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.btn-close-modal:hover {
    color: var(--highlight);
}

.modal-body {
    background-color: var(--modal-body-bg);
    max-height: 77vh;
    overflow-y: auto;
}

.modal-container {
    padding: 0.1rem 2rem;
}

.modal-container > section {
    margin-top: 1.5rem;
}

.modal-footer {
    background-color: var(--modal-footer-bg);
    color: #f0f0f0;
    margin-top: 1.5rem;
}

.modal-footer a {
    color: var(--link-text);
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
}

footer a {
    color: var(--link-text);
}

/* MEDIA QUERIES */

/* limit container size */
@media screen and (min-width: 800px) {
    .container {
        width: 800px;
    }
}

/* fallback dimensions for game board */
@supports not (aspect-ratio: 1 / 1) {
    @media screen and (min-width: 300px) {
        #game-board {
            width: 300px;
            height: 300px;
        }
    }

    @media screen and (min-width: 400px) {
        #game-board {
            width: 400px;
            height: 400px;
        }
    }

    @media screen and (min-width: 500px) {
        #game-board {
            width: 500px;
            height: 500px;
        }
    }
}
